.project_add{

}

input{
    height:25px;
    border-radius: 3px;
    border: 1px solid #24a5ff;
    font-size:14px;
    width:250px;
}

textarea{
    border-radius: 5px;
    border: 1px solid #24a5ff;
    color: #8b8b8b;
    width:250px;
    height:60px;
}

.submit{

}